<div class="col-sm-4 form-group center">
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<p>
  You Cannot Edit Account Information for Facebook created accounts.
  If you wish to create an account with Kicks List, you'll have to add
  some more information.
</p>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name),
                    data: { confirm: "Are you sure?" }, method: :delete %></p>

</div>
