<div class="col-lg-3">
  <div class="well sidebar-nav">
    <h3>Side shit</h3>
    <ul class="nav nav-list">
      <li class="nav-header">Your Shit</li>
      <li><%= link_to "Shit", "/path1"  %></li>
      <li><%= link_to "More Shit", "/path2"  %></li>
      <li><%= link_to "Good Shit", "/path3"  %></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->
